{% extends "LdAdminBundle::layout.html.twig" %}

{% block title %}LdAdminBundle:Customer:list{% endblock %}

{% block body %}
<div class="content-area p-y-1">	
	<div class="container-fluid">		
		<h4>Group</h4>
		<ol class="breadcrumb no-bg m-b-1">
			<li class="breadcrumb-item"><a href="#">Group</a></li>
			<li class="breadcrumb-item active">Permission</li>
		</ol>
		<div class="m-b-0-25" id="alermeg">
			{% include "LdAdminBundle::flashMessage.html.twig" %}
		</div>
		
		<div class="box box-block bg-white">
			<div class="m-b-1">
				<div class="clearfix">
					<h5 class="pull-left">Groups permissions for <b>{{ group.name }}</h5>									
				</div>				
			</div>
			
			<form action="{{ path('ld_admin_group_permission', {'id': group.id}) }}" method="POST" {{ form_enctype(form) }} class="form-horizontal" id="group_form">
			<div id="accordion" role="tablist" aria-multiselectable="true">
				{% for category in categories %}
				<div class="card">
					<div class="card-header" role="tab" id="heading{{ category.id }}">
			      		<h5 class="mb-0">
			        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ category.id }}" aria-expanded="true" aria-controls="collapse{{ category.id }}">
			          		{{ category.name }}
			        		</a>
			      		</h5>
			    	</div>
			
					<div id="collapse{{ category.id }}" class="collapse show" role="tabpanel" aria-labelledby="heading{{ category.id }}">
			      		<div class="card-block">
			      			<table class="table m-b-0">
								<thead class="thead-default">
									<tr>
										<th>Permission</th>
										<th>Allowed?</th>
									</tr>
								</thead>
								<tbody>
			      			{% for perm in category.getPermissions %}
			      				
			      				{% for permission in form.permissions %}
			      					                
                                	{% if permission.vars.id == 'ld_admin_group_permissions_permissions_'~perm.id %}
                    					<tr>
                    						<th scope="row">{{ form_label(permission) }}</th>
											<td>{{ form_widget(permission) }}</td>
										</tr>										
									{% endif %}
								{% endfor %}
									
							{% endfor %}
								</tbody>
							</table>			       	 		
			      		</div>
			    	</div>
			  	</div>			  				
			  	{% endfor %}
				<div class="form-group row">
					<div class="offset-sm-5 col-sm-7">
						<input type="submit" name="add" value="Update" class="btn btn-primary">
						<a href="{{ path('ld_admin_group_list') }}" class="btn btn-secondary">Back</a>
					</div>
				</div> 
			</div>
			{{ form_rest(form) }}
			</form>
			
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }} 
    
{% endblock javascripts %}  