<!-- slider revolution -->
<!-- Slider -->
<div class="rs-slider">
	<div class="tp-banner-container">
		<div class="tp-banner">
			<ul>
				<!-- Slide 1 -->
				<li data-transition='fade' data-rotate='0' data-saveperformance='off'>
					<img src="{{ asset('bundles/lduser/images/slider/slide1.jpg') }}" alt="slide1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
					<!-- 1-1-image -->
					<div class="tp-caption tp-scale" id="slide-1-1" data-x="['center','center','center','center']" data-hoffset="['-480','-300','-248','-192']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="['961','601','497','385']" data-height="['778','486','402','311']" data-whitespace="nowrap" data-type="image" data-basealign="slide" data-responsive_offset="on" data-frames='[{"from":"o:0;","speed":1000,"to":"o:1","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"x:left;","ease":"Power2.easeInOut"}]' style="z-index: 1;"><img src="{{ asset('bundles/lduser/images/slider/slide1-1.jpg') }}" alt="">
					</div>
					<!-- 1-2-image -->
					<div class="tp-caption tp-scale" id="slide-1-2" data-x="['center','center','center','center']" data-hoffset="['480','300','248','192']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="['961','601','497','385']" data-height="['778','486','402','311']" data-whitespace="nowrap" data-type="image" data-basealign="slide" data-responsive_offset="on" data-frames='[{"from":"o:0;","speed":1000,"to":"o:1","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"x:right;","ease":"Power2.easeInOut"}]' style="z-index: 1;"><img src="{{ asset('bundles/lduser/images/slider/slide1-2.jpg') }}" alt="">
					</div>
					<!-- 1-1-blank -->
					<div class="tp-caption tp-shape" id="slide-1-1-blank" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="['960','600','496','384']" data-height="['778','486','402','311']" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="on" data-actions='[{"event":"mouseenter","action":"toggleclass","layer":"slide-1-1","delay":"0", "classname":"zoom"}, {"event":"mouseleave","action":"toggleclass","layer":"slide-1-1","delay":"0", "classname":"zoom"},{"event":"mouseenter","action":"toggleclass","layer":"tp-hovertext-1","delay":"0", "classname":"dark"}, {"event":"mouseleave","action":"toggleclass","layer":"tp-hovertext-1","delay":"0", "classname":"dark"}]' data-frames='[{"from":"opacity:1;","speed":0,"to":"opacity:1;","delay":0},{"from":"opacity:1;", "delay":"wait","speed":0,"to":"opacity:1;"}]' style="z-index: 22;background-color:rgba(0,0,0,0);">
					</div>
					<!-- 1-2-blank -->
					<div class="tp-caption tp-shape" id="slide-1-2-blank" data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="['960','600','496','384']" data-height="['778','486','402','311']" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="on" data-actions='[{"event":"mouseenter","action":"toggleclass","layer":"slide-1-2","delay":"0", "classname":"zoom"}, {"event":"mouseleave","action":"toggleclass","layer":"slide-1-2","delay":"0", "classname":"zoom"},{"event":"mouseenter","action":"toggleclass","layer":"tp-hovertext-2","delay":"0", "classname":"color"}, {"event":"mouseleave","action":"toggleclass","layer":"tp-hovertext-2","delay":"0", "classname":"color"}]' data-frames='[{"from":"opacity:1;","speed":0,"to":"opacity:1;","delay":0},{"from":"opacity:1;", "delay":"wait","speed":0,"to":"opacity:1;"}]' style="z-index: 22;background-color:rgba(0,0,0,0);">
					</div>
					<!-- 1-1-text -->
					<div class="tp-caption tp-hovertext" id="tp-hovertext-1" data-width="['960','600','496','384']" data-x="['left','left','left','left']" data-hoffset="['0']" data-y="['center','center','center','center']" data-voffset="['-35','-25','-18','-15']" data-textAlign="['center','center','center','center']" data-paddingleft="[300,200,150,0]" data-frames='[{"from":"y:[300%];opacity:0;","speed":3000,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"y:[200%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' style="z-index: 6;">
						<div class="rs-text-1">laundry service</div>
						<div class="rs-text-2">Be Clean, Be Confident!</div>
					</div>
					<!-- 1-1-button -->
					<a href="contact.html" class="tp-caption rs-btn btn-green" data-x="['center','center','center','center']" data-hoffset="['-332','-200','-170','-190']" data-y="['center','center','center','center']" data-voffset="['115','70','55','60']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-actions='[{"event":"mouseenter","action":"toggleclass","layer":"slide-1-1","delay":"0", "classname":"zoom"}, {"event":"mouseleave","action":"toggleclass","layer":"slide-1-1","delay":"0", "classname":"zoom"},{"event":"mouseenter","action":"toggleclass","layer":"tp-hovertext-1","delay":"0", "classname":"dark"}, {"event":"mouseleave","action":"toggleclass","layer":"tp-hovertext-1","delay":"0", "classname":"dark"}]' data-frames='[{"from":"x:[200%];z:0;rX:25deg;rY:50deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2500, "to":"o:1;","delay":2800,"ease":"Power3.easeInOut"}, {"delay":"wait","speed":1000,"to":"auto:auto;","ease":"Power2.easeInOut"}]' style="z-index: 23;">order now
		 			</a>
					<!-- 1-2-text -->
					<div class="tp-caption tp-hovertext" id="tp-hovertext-2" data-width="['960','600','496','384']" data-x="['right','right','right','right']" data-hoffset="['0']" data-y="['center','center','center','center']" data-voffset="['-35','-25','-18','-15']" data-textAlign="['center','center','center','center']" data-paddingright="[265,180,150,0]" data-frames='[{"from":"y:[300%];opacity:0;","speed":3000,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"y:[200%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' style="z-index: 6;">
						<div class="rs-text-1">dry cleaning service</div>
						<div class="rs-text-2">We clean everything</div>
					</div>
					<!-- 1-2-button -->
					<a href="contact.html" class="tp-caption rs-btn btn-blue" data-x="['center','center','center','center']" data-hoffset="['346','200','170','190']" data-y="['center','center','center','center']" data-voffset="['115','70','55','60']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-actions='[{"event":"mouseenter","action":"toggleclass","layer":"slide-1-2","delay":"0", "classname":"zoom"}, {"event":"mouseleave","action":"toggleclass","layer":"slide-1-2","delay":"0", "classname":"zoom"},{"event":"mouseenter","action":"toggleclass","layer":"tp-hovertext-2","delay":"0", "classname":"color"}, {"event":"mouseleave","action":"toggleclass","layer":"tp-hovertext-2","delay":"0", "classname":"color"}]' data-frames='[{"from":"x:[-200%];z:0;rX:25deg;rY:-50deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2500, "to":"o:1;","delay":2800,"ease":"Power3.easeInOut"}, {"delay":"wait","speed":1000,"to":"auto:auto;","ease":"Power2.easeInOut"}]' style="z-index: 23;">order now
		  			</a>
					<!-- bubble-1-1 move out -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":0,"speed":7000,"frame":"0","from":"y:bottom;","to":"y:top","ease":"Power3.easeInOut"}]' style="z-index: 9;">
						<img src="{{ asset('bundles/lduser/images/slider/bubble-1-02.png') }}" alt="" data-hh="['778','486','402','311']">
					</div>
					<!-- bubble-1-2 move out -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":1000,"speed":7000,"frame":"0","from":"y:bottom;","to":"y:top","ease":"Power3.easeInOut"}]' style="z-index: 9;">
						<img src="{{ asset('bundles/lduser/images/slider/bubble-1-04.png') }}" alt="" data-hh="['778','486','402','311']">
					</div>
					<!-- bubble-1-3 move out -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":500,"speed":7000,"frame":"0","from":"y:bottom;","to":"y:top","ease":"Power3.easeInOut"}]' style="z-index: 9;">
						<img src="{{ asset('bundles/lduser/images/slider/bubble-1-01.png') }}" alt="" data-hh="['778','486','402','311']">
					</div>
					<!-- bubble-1-4 move out -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":3000,"speed":7000,"frame":"0","from":"y:bottom;","to":"y:top","ease":"Power3.easeInOut"}]' style="z-index: 9;">
						<img src="{{ asset('bundles/lduser/images/slider/bubble-1-03.png') }}" alt="" data-hh="['778','486','402','311']">
					</div>
					<!-- bubble-1-1 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":1000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="3" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-1-01.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- bubble-1-2 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":2000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="6" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-1-02.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- bubble-1-3 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":3000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="4" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-1-03.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- bubble-1-4 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":4000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="5" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-1-04.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- glow-1-1 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":4000,"speed":5000,"frame":"0","from":"o:0;","to":"o:1","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"o:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-glow-1">
							<img src="{{ asset('bundles/lduser/images/slider/glow-1-01.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- glow-1-2 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":4000,"speed":5000,"frame":"0","from":"o:0;","to":"o:1","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"o:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-glow-2">
							<img src="{{ asset('bundles/lduser/images/slider/glow-1-02.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- glow-1-3 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":4000,"speed":5000,"frame":"0","from":"o:0;","to":"o:1","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"o:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-glow-3">
							<img src="{{ asset('bundles/lduser/images/slider/glow-1-03.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
				</li>
				<!-- Slide 2 -->
				<li data-transition='fade' data-rotate='0' data-saveperformance='off'>
					<img src="{{ asset('bundles/lduser/images/slider/slide2.jpg') }}" alt="slide1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
					<!-- 2-1-text -->
					<div class="tp-caption" data-width="['735','500','400','450']" data-x="['center','center','center','center']" data-hoffset="['300', '200','150','80']" data-y="['center','center','center','center']" data-voffset="['-55','-25','-20','-34']" data-textAlign="['center','center','center','center']" data-frames='[{"from":"y:[300%];opacity:0;","speed":1500,"to":"o:1;","delay":2500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"y:[200%];","ease":"Power2.easeInOut"}]' style="z-index: 6;">
						<div class="rs-text-block-center">
							<div class="rs-text-1 color-grey text-center">The most convenient
								<br>way to do laundry and
								<br>dry cleaning</div>
							<div class="rs-text-2 color-grey">We provide on-demand pick-up and delivery
								<br> service in as little as 20 minutes</div>
						</div>
					</div>
					<!-- 2-1-button -->
					<a href="contact.html" class="tp-caption rs-btn btn-green" data-x="['center','center','center','center']" data-hoffset="['300','200','150','80']" data-y="['center','center','center','center']" data-voffset="['150','100','75','85']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":3000,"ease":"Power3.easeInOut"}, {"delay":"wait","speed":1000,"to":"auto:auto;","ease":"Power2.easeInOut"}]' style="z-index: 23;">order now
  					</a>
					<!-- 2-1-image -->
					<div class="tp-caption tp-full-image" data-x="['center','center','center','center']" data-y="['bottom','bottom','bottom','bottom']" data-width="['1920', '1200', '992', '768']" data-hoffset="['0','0','0','-70']" data-height="['778','486','402','311']" data-type="image" data-responsive_offset="off" data-responsive="on" data-frames='[{"from":"x:-100px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]' style="z-index: 15;"><img src="{{ asset('bundles/lduser/images/slider/slide2-1.png') }}" alt=""> </div>
					<!-- 2-2-image -->
					<div class="tp-caption tp-full-image" data-x="['center','center','center','center']" data-y="['bottom','bottom','bottom','bottom']" data-width="['1920', '1200', '992', '768']" data-hoffset="['0','0','0','-70']" data-height="['778','486','402','311']" data-type="image" data-responsive_offset="off" data-responsive="on" data-frames='[{"from":"o:0;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]' style="z-index: 15;"><img src="{{ asset('bundles/lduser/images/slider/slide2-2.png') }}" alt=""> </div>
					<!-- bubble-1-1 move out -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":0,"speed":7000,"frame":"0","from":"y:bottom;","to":"y:top","ease":"Power3.easeInOut"}]' style="z-index: 9;">
						<img src="{{ asset('bundles/lduser/images/slider/bubble-1-02.png') }}" alt="" data-hh="['778','486','402','311']">
					</div>
					<!-- bubble-1-2 move out -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":1000,"speed":7000,"frame":"0","from":"y:bottom;","to":"y:top","ease":"Power3.easeInOut"}]' style="z-index: 9;">
						<img src="{{ asset('bundles/lduser/images/slider/bubble-1-04.png') }}" alt="" data-hh="['778','486','402','311']">
					</div>
					<!-- bubble-1-3 move out -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":2000,"speed":7000,"frame":"0","from":"y:bottom;","to":"y:top","ease":"Power3.easeInOut"}]' style="z-index: 9;">
						<img src="{{ asset('bundles/lduser/images/slider/bubble-1-01.png') }}" alt="" data-hh="['778','486','402','311']">
					</div>
					<!-- bubble-1-4 move out -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":3000,"speed":7000,"frame":"0","from":"y:bottom;","to":"y:top","ease":"Power3.easeInOut"}]' style="z-index: 9;">
						<img src="{{ asset('bundles/lduser/images/slider/bubble-1-03.png') }}" alt="" data-hh="['778','486','402','311']">
					</div>
					<!-- bubble-2-1 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":1000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="3" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-2-01.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- bubble-2-2 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":2000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="6" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-2-02.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- bubble-2-3 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":3000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="4" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-2-03.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- bubble-2-4 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":4000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="5" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-2-04.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- bubble-2-5 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":2000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="5" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-2-05.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- glow-2-1 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":4000,"speed":5000,"frame":"0","from":"o:0;","to":"o:1","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"o:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-glow-1">
							<img src="{{ asset('bundles/lduser/images/slider/glow-2-01.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- glow-2-2 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":4000,"speed":5000,"frame":"0","from":"o:0;","to":"o:1","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"o:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-glow-2">
							<img src="{{ asset('bundles/lduser/images/slider/glow-2-02.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- glow-2-3 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":4000,"speed":5000,"frame":"0","from":"o:0;","to":"o:1","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"o:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-glow-3">
							<img src="{{ asset('bundles/lduser/images/slider/glow-2-03.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
				</li>
				<!-- Slide 3 -->
				<li data-transition='fade' data-rotate='0' data-saveperformance='off'>
					<img src="{{ asset('bundles/lduser/images/slider/slide1.jpg') }}" alt="slide1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
					<!-- 3-1-image -->
					<div class="tp-caption tp-scale" id="slide-3-1" data-x="['center','center','center','center']" data-hoffset="['-480','-300','-248','-192']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="['961','601','497','385']" data-height="['778','486','402','311']" data-whitespace="nowrap" data-type="image" data-basealign="slide" data-responsive_offset="on" data-frames='[{"from":"o:0;","speed":1000,"to":"o:1","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"x:left;","ease":"Power2.easeInOut"}]' style="z-index: 1;"><img src="{{ asset('bundles/lduser/images/slider/slide3-1.jpg') }}" alt="">
					</div>
					<!-- 3-2-image -->
					<div class="tp-caption tp-scale" id="slide-3-2" data-x="['center','center','center','center']" data-hoffset="['480','300','248','192']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="['961','601','497','385']" data-height="['778','486','402','311']" data-whitespace="nowrap" data-type="image" data-basealign="slide" data-responsive_offset="on" data-frames='[{"from":"o:0;","speed":1000,"to":"o:1","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"x:right;","ease":"Power2.easeInOut"}]' style="z-index: 1;"><img src="{{ asset('bundles/lduser/images/slider/slide3-2.jpg') }}" alt="">
					</div>
					<!-- 3-1-blank -->
					<div class="tp-caption tp-shape" id="slide-3-1-blank" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="['960','600','496','384']" data-height="['778','486','402','311']" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="on" data-actions='[{"event":"mouseenter","action":"toggleclass","layer":"slide-3-1","delay":"0", "classname":"zoom"}, {"event":"mouseleave","action":"toggleclass","layer":"slide-3-1","delay":"0", "classname":"zoom"},{"event":"mouseenter","action":"toggleclass","layer":"tp-hovertext-3-1","delay":"0", "classname":"up"}, {"event":"mouseleave","action":"toggleclass","layer":"tp-hovertext-3-1","delay":"0", "classname":"up"}]' data-frames='[{"from":"opacity:1;","speed":0,"to":"opacity:1;","delay":0},{"from":"opacity:1;", "delay":"wait","speed":0,"to":"opacity:1;"}]' style="z-index: 22;background-color:rgba(0,0,0,0);">
					</div>
					<!-- 3-2-blank -->
					<div class="tp-caption tp-shape" id="slide-3-2-blank" data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="['960','600','496','384']" data-height="['778','486','402','311']" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="on" data-actions='[{"event":"mouseenter","action":"toggleclass","layer":"slide-3-2","delay":"0", "classname":"zoom"}, {"event":"mouseleave","action":"toggleclass","layer":"slide-3-2","delay":"0", "classname":"zoom"},{"event":"mouseenter","action":"toggleclass","layer":"tp-hovertext-3-2","delay":"0", "classname":"up"}, {"event":"mouseleave","action":"toggleclass","layer":"tp-hovertext-3-2","delay":"0", "classname":"up"}]' data-frames='[{"from":"opacity:1;","speed":0,"to":"opacity:1;","delay":0},{"from":"opacity:1;", "delay":"wait","speed":0,"to":"opacity:1;"}]' style="z-index: 22;background-color:rgba(0,0,0,0);">
					</div>
					<!-- 3-1-text -->
					<div class="tp-caption tp-hovertext" id="tp-hovertext-3-1" data-width="['960','600','496','384']" data-x="['left','left','left','left']" data-hoffset="['0']" data-y="['center','center','center','center']" data-voffset="['-35','-25','-18','-15']" data-textAlign="['center','center','center','center']" data-paddingleft="[300,200,150,0]" data-frames='[{"from":"y:[300%];opacity:0;","speed":3000,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"y:[200%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' style="z-index: 6;">
						<div class="rs-text-1">laundry service</div>
						<div class="rs-text-2">We care for the clothes you wear</div>
					</div>
					<!-- 3-1-button -->
					<a href="contact.html" class="tp-caption rs-btn btn-green" data-x="['center','center','center','center']" data-hoffset="['-332','-200','-180','-190']" data-y="['center','center','center','center']" data-voffset="['115','70','55','60']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-actions='[{"event":"mouseenter","action":"toggleclass","layer":"slide-3-1","delay":"0", "classname":"zoom"}, {"event":"mouseleave","action":"toggleclass","layer":"slide-3-1","delay":"0", "classname":"zoom"},{"event":"mouseenter","action":"toggleclass","layer":"tp-hovertext-3-1","delay":"0", "classname":"up"}, {"event":"mouseleave","action":"toggleclass","layer":"tp-hovertext-3-1","delay":"0", "classname":"up"}]' data-frames='[{"from":"x:[200%];z:0;rX:25deg;rY:50deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2500, "to":"o:1;","delay":2800,"ease":"Power3.easeInOut"}, {"delay":"wait","speed":1000,"to":"auto:auto;","ease":"Power2.easeInOut"}]' style="z-index: 23;">order now
 					</a>
					<!-- 3-2-text -->
					<div class="tp-caption tp-hovertext" id="tp-hovertext-3-2" data-width="['960','600','496','384']" data-x="['right','right','right','right']" data-hoffset="['0']" data-y="['center','center','center','center']" data-voffset="['-35','-25','-18','-15']" data-textAlign="['center','center','center','center']" data-paddingright="[265,180,150,0]" data-frames='[{"from":"y:[300%];opacity:0;","speed":3000,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"y:[200%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' style="z-index: 6;">
						<div class="rs-text-1">dry cleaning service</div>
						<div class="rs-text-2">Cleaning excellence guaranteed!</div>
					</div>
					<!-- 3-2-button -->
					<a href="contact.html" class="tp-caption rs-btn btn-blue" data-x="['center','center','center','center']" data-hoffset="['332','200','180','195']" data-y="['center','center','center','center']" data-voffset="['115','70','55','60']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-actions='[{"event":"mouseenter","action":"toggleclass","layer":"slide-3-2","delay":"0", "classname":"zoom"}, {"event":"mouseleave","action":"toggleclass","layer":"slide-3-2","delay":"0", "classname":"zoom"},{"event":"mouseenter","action":"toggleclass","layer":"tp-hovertext-3-2","delay":"0", "classname":"up"}, {"event":"mouseleave","action":"toggleclass","layer":"tp-hovertext-3-2","delay":"0", "classname":"up"}]' data-frames='[{"from":"x:[-200%];z:0;rX:25deg;rY:-50deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2500, "to":"o:1;","delay":2800,"ease":"Power3.easeInOut"}, {"delay":"wait","speed":1000,"to":"auto:auto;","ease":"Power2.easeInOut"}]' style="z-index: 23;">order now
  					</a>
					<!-- bubble-1-1 move out -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":0,"speed":7000,"frame":"0","from":"y:bottom;","to":"y:top","ease":"Power3.easeInOut"}]' style="z-index: 9;">
						<img src="{{ asset('bundles/lduser/images/slider/bubble-1-02.png') }}" alt="" data-hh="['778','486','402','311']">
					</div>
					<!-- bubble-1-2 move out -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":1000,"speed":7000,"frame":"0","from":"y:bottom;","to":"y:top","ease":"Power3.easeInOut"}]' style="z-index: 9;">
						<img src="{{ asset('bundles/lduser/images/slider/bubble-1-04.png') }}" alt="" data-hh="['778','486','402','311']">
					</div>
					<!-- bubble-1-3 move out -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":500,"speed":7000,"frame":"0","from":"y:bottom;","to":"y:top","ease":"Power3.easeInOut"}]' style="z-index: 9;">
						<img src="{{ asset('bundles/lduser/images/slider/bubble-1-01.png') }}" alt="" data-hh="['778','486','402','311']">
					</div>
					<!-- bubble-1-4 move out -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":3000,"speed":7000,"frame":"0","from":"y:bottom;","to":"y:top","ease":"Power3.easeInOut"}]' style="z-index: 9;">
						<img src="{{ asset('bundles/lduser/images/slider/bubble-1-03.png') }}" alt="" data-hh="['778','486','402','311']">
					</div>
					<!-- bubble-1-1 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":1000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="3" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-1-01.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- bubble-1-2 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":2000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="6" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-1-02.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- bubble-1-3 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":3000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="4" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-1-03.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- bubble-1-4 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":4000,"speed":5000,"frame":"0","from":"y:bottom;","to":"y:0","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"y:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="5" data-zoomstart="1" data-zoomend="0.9">
							<img src="{{ asset('bundles/lduser/images/slider/bubble-1-04.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- glow-1-1 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":4000,"speed":5000,"frame":"0","from":"o:0;","to":"o:1","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"o:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-glow-1">
							<img src="{{ asset('bundles/lduser/images/slider/glow-1-01.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- glow-1-2 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":4000,"speed":5000,"frame":"0","from":"o:0;","to":"o:1","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"o:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-glow-2">
							<img src="{{ asset('bundles/lduser/images/slider/glow-1-02.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
					<!-- glow-1-3 -->
					<div class="tp-caption tp-resizeme tp-full-height" data-x="center" data-y="top" data-height="full" data-type="image" data-responsive="on" data-frames='[{"delay":4000,"speed":5000,"frame":"0","from":"o:0;","to":"o:1","ease":"Power3.easeInOut"},{"delay":"wait","speed":5000,"frame":"999","to":"o:0;","ease":"Power3.easeInOut"}]' style="z-index: 10;">
						<div class="rs-glow-3">
							<img src="{{ asset('bundles/lduser/images/slider/glow-1-03.png') }}" alt="" data-hh="['778','486','402','311']">
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- /slider revolution  -->